<div class="row">
  <div class="8u 12u$(small)">
    <p>Hello there! Thanks for taking a moment to learn more about me.<br /><br />
      I graduated Carnegie Mellon with a degree in Computer Science and moved to San Francisco to begin my career as a
      software engineer. After a decade of working at incredible companies (Dolby Labs, Pixar, Eventbrite), I realized
      how significantly compensation can vary based on how a candidate presents themselves and navigates the latter
      stages of the interview process.<br /><br />
      ​Women, immigrants, people from disadvantaged socio-economic backgrounds, and people with long tenures have missed
      out on competitive pay because they have not learned how to ask for more. Since 2016, I’ve successfully coached
      clients throughout the SF Bay Area, and other tech hubs in the US across various industries and job functions.
      I've helped my clients realize their earning potential and gain confidence in their ability to speak up for what
      they are worth.<br />​<br />
      If we work together, my compensation depends entirely on achieving results rather than time or effort. I'm looking
      forward to hearing your story and working with you.<br /><br />
      Sincerely,<br />
      Michelle Lai
    </p>
  </div>
  <div class="4u$ 12u$(small)">
    <span class="image"><img src="{% link assets/images/profile.jpg %}" alt="" /></span>
  </div>
</div>
