<section>
    <a href="" class="image">
      <img class="profile" src="{% link assets/images/profile.jpg %}" alt="" data-position="center center" />
    </a>
    <div class="content">
      <div class="inner">
        <header class="major">
          <h4>About me</h4>
        </header>
        <p>As a CMU-grad with a decade of experience as a Software Engineer at top SF bay area companies, I've
          seen how significantly compensation can vary based on your leverage, their biases, communication
          during the interviews, and size/stage of company.<br/><br />
          If you identify as a woman, an immigrant, persons from a disadvantaged background, or someone who has been tenured
          at the same company for an extended period, we should have a chat as you begin (or continue) your job search.<br /><br />
          Since 2016, I’ve successfully coached hundreds of clients to realize their earning potential and gain confidence in
          their ability to speak up for what they are worth. I specialize in working with software engineers, but
          my strategies have been proven across various industries and job functions.<br />​
          My compensation depends entirely on achieving results for my clients, rather than time or effort. I look forward to working with you.
        </p>
      </div>
    </div>
</section>
