<div class="row 50% uniform">
  <div class="4u 12u$(medium)">
    <div class="8u center"><span class="image fit round"><img src="{% link assets/images/fw.jpg %}" alt=""/></span></div>
    <p class="center">"Michelle's approach to salary negotiations is uniquely brilliant. With her strategies and high-touch approach, I was
    able to shape the narrative of my negotiations and improve my salary 20%! She was fully aligned and committed to my
    success and that propelled me further than I've ever been in a negotiation. Don't negotiate without her."</p>
    <p class="align-center">- Farralon W.</p>
    <p class="align-center"><i>Senior Investment Associate</i></p>
  </div>
  <div class="4u 12u$(medium)">
    <div class="8u center"><span class="image fit round"><img src="{% link assets/images/rp.jpg %}" alt="" /></span></div>
    <p>"Michelle was invaluable in negotiating a significant delay around my start date due to a family emergency. I was grateful
      to have her guidance and reassurance at a time when there was so much uncertainty and stress. We were able to
      delay my start date by 3 months which allowed me ample time to dedicate to family matters and be fully
      dedicated to my new role."</p>
    <p class="align-center">- Temp Testimonial</p>
    <p class="align-center"><i>Senior Title</i></p>
  </div>
  <div class="4u$ 12u$(medium)">
    <div class="8u center"><span class="image fit round"><img src="{% link assets/images/ja.jpg %}" alt="" /></span></div>
    <p>"Michelle and I worked together as I was transitioning to find employment in a field where I had limited experience. She
    was there throughout the job search to ensure I maintained leverage and conveyed confidence in myself. Eventually I
    received a promising offer. Without Michelle, I would have accepted immediately because of job search fatigue. Michelle
    rallied me across the finish line and we were able to improve an offer that didn't appear to have any flexibility."</p>
    <p class="align-center">- Jet A.</p>
    <p class="align-center"><i>Director of Fundraising</i>></p>
  </div>
</div>
