<div class="row 50% uniform">
  <div class="4u 12u$(medium)">
    <div class="8u center"><span class="image fit round"><img src="{% link assets/images/pic08.jpg %}" alt=""/></span></div>
    <p class="center">"Michelle's approach to salary negotiations is uniquely brilliant. With her strategies and high-touch approach, I was
    able to shape the narrative of my negotiations and improve my salary 20%! She was fully aligned and committed to my
    success and that propelled me further than I've ever been in a negotiation. Don't negotiate without her."</p>
    <p class="align-center">~ Farralon W.</p>
  </div>
  <div class="4u 12u$(medium)">
    <div class="8u center"><span class="image fit round"><img src="{% link assets/images/pic08.jpg %}" alt="" /></span></div>
    <h3 class="align-center">Practice & Execution</h3>
    <p>We'll layout a strategy to achieve your compensation goals on your timeline. Through coaching and high-availability communications, we will navigate each moment of the offer process together.</p>
  </div>
  <div class="4u$ 12u$(medium)">
    <div class="8u center"><span class="image fit round"><img src="{% link assets/images/pic08.jpg %}" alt="" /></span></div>
    <p>"Michelle and I worked together as I was transitioning to find employment in a field where I had limited experience. She
    was there throughout the job search to ensure I maintained leverage and conveyed confidence in myself. Eventually I
    received a promising offer. Without Michelle, I would have accepted immediately because of job search fatigue. Michelle
    rallied me across the finish line and we were able to improve an offer that didn't appear to have any flexibility."</p>
    <p class="align-center">~ Jet A.</p>
  </div>
</div>
